.bgimage{
    background-image: url("../../../public/Image/Incredibleoffers/hero/header.svg"),linear-gradient(to top,#ef4056,#ef394e);
    background-repeat: no-repeat;
    background-position: center center;
}